.search{
    margin: 20px;
}

.search input{
    margin: auto;
    display: block;
    width: 50%;
    height: 10px;
    border: 1px solid;
    border-radius: 5px;
    outline: none;
    padding: 10px;

}

::placeholder {
    opacity: 0.2;
}